{
  "root": true,
  "extends": [
    "eslint:recommended",
    "@react-native-community",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "react-native/no-inline-styles": "off",
    "no-shadow": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"]
  }
}
